body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.tablero {
    border-collapse: collapse;
}

.tablero td {
    width: 40px;
    height: 40px;

    border: 2px solid gray;

    background-color: #ccc;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    font-size: 20px;

    color: transparent;
}

.tablero td:hover {
    background-color: #bbb;
}